<div class="gallery__buttons">
    <button class="gallery__btn" data-filter=".bedroom">Bedroom furniture</button>
    <button class="gallery__btn" data-filter=".living">Living room furniture</button>
    <button class="gallery__btn" data-filter=".office">Office furniture</button>
    <button class="gallery__btn" data-filter=".dining">Dining room futniture</button>
    <button class="gallery__btn" data-filter=".chair">Chair</button>
  </div>
  <div class="gallery__inner">
  
    <div class="gallery__items mix bedroom">
      <a class="gallery__item" href="#" >
        <img src="images/gallery/b1.jpg" alt="images">
      </a>
      <a class="gallery__item" href="#" >
        <img src="images/gallery/b2.jpg" alt="images">
      </a>
      <a class="gallery__item" href="#" >
        <img src="images/gallery/b3.jpg" alt="images">
      </a>
      <a class="gallery__item" href="#" >
        <img src="images/gallery/b4.jpg" alt="images">
      </a>
      <a class="gallery__item" href="#" >
        <img src="images/gallery/b5.jpg" alt="images">
      </a>
  
    </div>
  
    <div class="gallery__items mix living">
      <a class="gallery__item" href="#" >
        <img src="images/gallery/l1.jpg" alt="images">
      </a>
      <a class="gallery__item" href="#" >
        <img src="images/gallery/l2.jpg" alt="images">
      </a>
      <a class="gallery__item" href="#" >
        <img src="images/gallery/l3.jpg" alt="images">
      </a>
      <a class="gallery__item" href="#" >
        <img src="images/gallery/l4.jpg" alt="images">
      </a>
      <a class="gallery__item" href="#" >
        <img src="images/gallery/l5.jpg" alt="images">
      </a>
   
    </div>
  
    <div class="gallery__items mix office">
      <a class="gallery__item" href="#" >
        <img src="images/gallery/o1.jpg" alt="images">
      </a>
      <a class="gallery__item" href="#" >
        <img src="images/gallery/o2.jpg" alt="images">
      </a>
      <a class="gallery__item" href="#" >
        <img src="images/gallery/o3.jpg" alt="images">
      </a>
      <a class="gallery__item" href="#" >
        <img src="images/gallery/o4.jpg" alt="images">
      </a>
      <a class="gallery__item" href="#" >
        <img src="images/gallery/o5.jpg" alt="images">
      </a>
    </div>
     
    <div class="gallery__items mix dining">
      <a class="gallery__item" href="#" >
        <img src="images/gallery/d1.jpg" alt="images">
      </a>
      <a class="gallery__item" href="#" >
        <img src="images/gallery/d2.jpg" alt="images">
      </a>
      <a class="gallery__item" href="#" >
        <img src="images/gallery/d3.jpg" alt="images">
      </a>
      <a class="gallery__item" href="#" >
        <img src="images/gallery/d4.jpg" alt="images">
      </a>
      <a class="gallery__item" href="#" >
        <img src="images/gallery/d5.jpg" alt="images">
      </a>
    </div>
  
    <div class="gallery__items mix chair">
      <a class="gallery__item" href="#" >
        <img src="images/gallery/c1.jpg" alt="images">
      </a>
      <a class="gallery__item" href="#" >
        <img src="images/gallery/c2.jpg" alt="images">
      </a>
      <a class="gallery__item" href="#" >
        <img src="images/gallery/c3.jpg" alt="images">
      </a>
      <a class="gallery__item" href="#" >
        <img src="images/gallery/c4.jpg" alt="images">
      </a>
      <a class="gallery__item" href="#" >
        <img src="images/gallery/c5.jpg" alt="images">
      </a>
    </div>
  
  </div>
  