<footer class="footer">
    <div class="footer__content">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__info">
                    <h4 class="footer__info-title">Contact Us</h4>
                    <p class="footer__info-text">Keffiyeh poutine etsy, paleo cray put a bird on it microdosing schlitz you probably occupy
                    </p>
                    <i class="fa-regular fa-envelope"></i><a class="footer__info-email" href="mailto:ouremailaddress@email.com">ouremailaddress@email.com </a>
                    <form class="footer__form">
                        <input type="email" class="footer__form-input" placeholder="Subscribe by email">
                        <button class="footer__form-btn" type="submit">Send</button>
                    </form>
                </div>
                <ul class="footer__social">
                    <li class="footer__social-item"><a href="#" class="footer__social-link"><i class="fa-brands fa-facebook"></i>Facebook</a></li>
                    <li class="footer__social-item"><a href="#" class="footer__social-link"><i class="fa-brands fa-instagram"></i>Instagram</a></li>
                    <li class="footer__social-item"><a href="#" class="footer__social-link"><i class="fa-brands fa-pinterest"></i>Pinterest</a></li>
                    <li class="footer__social-item"><a href="#" class="footer__social-link"><i class="fa-brands fa-whatsapp"></i>Whatsapp</a></li>
                    <li class="footer__social-item"><a href="#" class="footer__social-link"><i class="fa-brands fa-youtube"></i>Youtube</a></li>
                </ul>
                <ul class="footer__menu">
                    <li class="footer__menu-item"><a href="#" class="footer__menu-link">Delivery</a></li>
                    <li class="footer__menu-item"><a href="#" class="footer__menu-link">FAQ</a></li>
                    <li class="footer__menu-item"><a href="#" class="footer__menu-link">Help</a></li>
                    <li class="footer__menu-item"><a href="#" class="footer__menu-link">More About Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <p class="footer__copyright-text">674 Gonzales Drive. Washington, PA 15301</p>
    </div>
</footer>
