<aside class="aside">
    <form class="aside__form">
      <input class="aside__search-input"  type="text" placeholder="Search">
      <button class="aside__search-btn" type="submit">
        <img src="images/search-icon.svg" alt="icon" />
      </button>
    </form>
    <div class="blog__category">
      <h6 class="blog__category-title">Categories</h6>
      <ul class="blog__category-list">
        <li class="blog__category-item"> <a class="blog__category-link" href="#">Dining room (1)</a> </li>
        <li class="blog__category-item"> <a class="blog__category-link" href="#">Office furniture (12)</a >  </li>
        <li class="blog__category-item"> <a class="blog__category-link" href="#">Simple interiror design (2)</a>  </li>
        <li class="blog__category-item"> <a class="blog__category-link" href="#">Design (4)</a> </li>
        <li class="blog__category-item"> <a class="blog__category-link" href="#">Bedroom Furniture (1)</a> </li>
      </ul>
    </div>
    <div class="recent-posts">
      <h6 class="recent-posts__title">Recent Posts</h6>
      <ul class="recent-posts__list">
        <li class="recent-posts__item">
          <a class="recent-posts__item-title" href="#"> selfies edison bulb four dollar toast humblebrag</a>
          <span class="recent-posts__date"> August 10, 2023 </span>|
          <a class="recent-posts__author" href="#">by Ann Summers</a>
        </li>
        <li class="recent-posts__item">
          <a class="recent-posts__item-title" href="#">Semiotics fixie four dollar toast, next level woke scenester direct trade photo booth  </a>
          <span class="recent-posts__date">September 30 ,2023 </span >|
          <a class="recent-posts__author" href="#">by Ann Summers </a>
        </li>
        <li class="recent-posts__item">
          <a class="recent-posts__item-title" href="#"> selfies edison bulb four dollar toast humblebrag</a>
          <span class="recent-posts__date"> May 2, 2023 </span>|
          <a class="recent-posts__author" href="#"> by Ann Summers </a>
        </li>
      </ul>
    </div>
    <div class="blog__tags">
      <h6 class="blog__tags-title">Tags</h6>
      <a class="blog__tags-link" href="#">Dining room futniture</a>
      <a class="blog__tags-link" href="#">Chair</a>
      <a class="blog__tags-link" href="#">Table</a>
      <a class="blog__tags-link" href="#">Bedroom</a>
      <a class="blog__tags-link" href="#">Office Furniture</a>
    </div>
    <ul class="blog__social">
      <li class="blog__social-item"><a href="#" class="footer__social-link"><i class="fa-brands fa-facebook"></i></a></li>
      <li class="blog__social-item"><a href="#" class="footer__social-link"><i class="fa-brands fa-instagram"></i></a></li>
      <li class="blog__social-item"><a href="#" class="footer__social-link"><i class="fa-brands fa-pinterest"></i></a></li>
      <li class="blog__social-item"><a href="#" class="footer__social-link"><i class="fa-brands fa-whatsapp"></i></a></li>
      <li class="blog__social-item"><a href="#" class="footer__social-link"><i class="fa-brands fa-youtube"></i></a></li>
    </ul>
  </aside>
